@import "../../ui/variables";

.col {
  width: 50%;
  margin-bottom: 48px;

  @media (max-width: $media-medium) {
    width: 100%;
  }
}

.row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 100px;

  @media (max-width: $media-medium) {
    align-items: center;
  }

  @media (max-width: $media-small) {
    margin-top: 0px;
  }
}

.stats {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 568px;

  img {
    width: 100%;
  }
  //display: flex;
  //flex-wrap: wrap;
  //min-height: 550px;
  //justify-content: space-between;
  //background: url("assets/images/pattern.svg") 50% no-repeat;
  //background-size: 107%;
  margin-right: 20px;

  @media (max-width: $media-small) {
    min-height: 450px;
  }
}

.rightStats {
  @media (max-width: $media-medium) {
    display: none;
  }
}

.leftCol {
  @media (max-width: $media-medium) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.leftStats {
  display: none;

  @media (max-width: $media-medium) {
    display: flex;
  }
}

.container {
  flex-direction: row;
}

.text {
  font-family: "Open Sans", sans-serif;
  padding-right: 40px;
  margin: 42px 0;
  padding-left: 0;
  font-weight: 400;
  font-size: 18px;
  color: #3E3D3E;
  letter-spacing: 0;
  line-height: 28px;

  @media (max-width: $media-medium) {
    padding: 0;
  }
}

.place {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-top: 28px;
  padding-bottom: 20px;
}