@import "../../ui/variables";

.heroWrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 80%;
        background: url("./assets/hero-dotes.png"), url("./assets/bg-wave.png") 44% 50% no-repeat;
        background-size: 30%, cover;
    }
}

.heroContainer {
    flex-direction: column;
    align-items: center;
}

.heroTitle {
    padding-top: 15%;

    @media (max-width: $media-small) {
        padding-top: 35%;
    }
}

.description {
    margin-top: 18px;
    margin-bottom: 48px;
    padding: 0;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #FCDE41;
    letter-spacing: 0;
    line-height: 32px;
    list-style: none;
}

.descriptionItem {
    display: flex;
    align-items: center;

    &:after {
        content: '';
        display: block;
        height: 1em;
        width: 2px;
        margin: 0 10px;
        background: rgba(255, 255, 255, .5);
    }

    &:last-child:after {
        display: none;
    }
}

.card {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 108px 60px;
    width: 100%;
    max-width: 1136px;
    margin: 96px 20px 40px;
    background: #FFFFFF;
    box-shadow: 0 12px 42px 12px rgba(0,0,0,0.08);

    p {
        font-size: 19px;
        color: #3E3D3E;
        letter-spacing: 0;
        line-height: 32px;
    }

    @media (max-width: $media-medium) {
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 6px;
    }

    @media (max-width: $media-small) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.cardHeader {
    margin: 0 0 21px 0;
    font-weight: bold;
    font-size: 22px;
    color: #3E3D3E;
    text-align: center;
    line-height: 32px;
}