@import "../../../../ui/variables";

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  width: 25%;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) .num:before {
      --angle: #{$i};
    }
  }

  &:nth-child(1) { left: 0; top: 2%; }

  &:nth-child(2) { left: 0; top: 17%; }

  &:nth-child(3) { right: 34%; top: 38%; }

  &:nth-child(4) { right: 0; top: 8%; }

  &:nth-child(5) { left: 6%; bottom: -7%; }

  &:nth-child(6) { right: 5%; bottom: 4%; }
}

.num {
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 4vw;
  color: #3E3D3E;
  letter-spacing: -1.6px;
}

.desc {
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  color: #3E3D3E;
  letter-spacing: 1px;
  text-align: center;
}