@import "../../../../ui/variables";

.date {
  position: relative;
  margin-left: -16px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 16px;
    bottom: 0;
    height: 6px;
    width: 60px;
    background: #504B9B;
  }
}

.day {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 136px;
  color: #DF298C;
  letter-spacing: -3.4px;
  line-height: 136px;
}

.dayOfWeek {
  position: absolute;
  left: 16px;
  bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  color: #504B9B;
  letter-spacing: 1.78px;
  line-height: 30px;

  @media (max-width: $media-small) {
    font-size: 27px;
  }
}

.month {
  position: relative;
  display: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: #DF298C;
  letter-spacing: -1.02px;
  text-align: center;
  line-height: 48px;

  @media (max-width: $media-medium) {
    display: block;
  }
}