@import "../../ui/variables";

.container {
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 5%;

  @media (max-width: $media-medium) {
    padding-top: 0;
  }
}

.footer {
  width: 100vw;
  background: url("./assets/bg.png") 100% 50%;
  background-size: cover;
}

.footerTitle {
  margin-top: 0;
  margin-bottom: 23px;

  @media (max-width: $media-medium) {
    font-size: 30px;
  }
}

.desc {
  font-family: "Open Sans", sans-serif;
  display: flex;
  border: 2px solid rgba(#fff, .5);
  padding: 10px 11px;
  margin-top: 47px;
  margin-bottom: 47px;
  list-style: none;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 32px;

  li {
    padding: 0 14px;
    border-right: 2px solid rgba(#fff, .5);

    &:last-child {
      border: none;
    }
  }

  @media (max-width: $media-medium) {
    font-size: 16px;
  }
}

.buyTickets {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 72px;
  background: #FFFFFF;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  font-size: 18px;
  color: #3E3D3E;
  text-align: center;
  line-height: 30px;
  border: none;
}

.followTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 13px;
  margin-top: 10%;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: -1.45px;
  text-align: center;
  line-height: 48px;

  @media (max-width: $media-small) {
    font-size: 30px;
    margin-bottom: 0;
  }
}

.socialsList {
  display: flex;
  list-style: none;
  padding: 0;

  a {
    padding: 10px 25px;
  }

  @media (max-width: $media-small) {
    margin-bottom: 30px;
  }
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;

  @media (max-width: $media-small) {
    padding: 0 0 10px 0;
    flex-direction: column;

    & > div {
      margin: 10px 0;
    }
  }
}

.contactItem {
  a {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: none;

    img {
      margin-right: 15px;
    }
  }
}