.place {
  margin-top: 74px;
  padding-bottom: 14px;
}

.container {
  margin-top: 15px;
  padding: 0;
  flex-direction: column;
  max-width: 10000px;
  width: 100%;
}

.map {
  position: relative;
  width: 100%;
}

.popup {
  position: absolute;
  z-index: 1000;
  top: 10%;
  left: 10%;
  padding: 30px 40px;
  background: #FFFFFF;
  box-shadow: 0 12px 42px 12px rgba(0,0,0,0.08);

  h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #504B9B;
    letter-spacing: 0;
    line-height: 26px;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #504B9B;
    letter-spacing: 0;
    line-height: 24px;
    max-width: 250px;
  }

  a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #DF298C;
    letter-spacing: 0;
    line-height: 24px;
  }

  .line {
    width: 100%;
    height: 1px;
    background: rgba(#504B9B, .25);
    margin: 10px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #504B9B;
    letter-spacing: 0;
    line-height: 24px;

    li {
      padding: 5px 0;
    }
  }
}