@import "../../ui/variables";

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("./assets/wave-mentors.png") center center repeat-x;
  background-size: 95% 100%;

  @media (max-width: $media-large) {
    background-size: cover;
  }
}

.mentorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
  list-style: none;
  padding: 0;
  --mentor-count: 4;

  @media (max-width: $media-medium) {
    --mentor-count: 3;
    margin-top: 80px;
  }

  @media (max-width: $media-small) {
    --mentor-count: 3;
    margin-top: 40px;
  }

  @media (max-width: $media-extra-small) {
    --mentor-count: 2;
  }
}

.mentorWrapper {
  display: flex;
  justify-content: center;
  width: calc(100% / var(--mentor-count));
  margin-bottom: 90px;
}

.mentorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentorPhoto {
  max-width: 178px;
}

.mentorName {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #3E3D3E;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
}

.mentorPosition {
  margin: 0;
  font-size: 16px;
  color: rgba(#3E3D3E, .8);
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
}