@import "../../ui/variables";

.prizes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 60px;
  margin-bottom: 46px;

  @media (max-width: $media-medium) {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    margin-top: 50px;
  }

  @media (max-width: $media-small) {
    margin-top: 30px;
  }
}

.prize {
  position: relative;
  max-width: 520px;
  width: 100%;
  padding: 30px 30px;
  margin: 30px;
  background: #FFFFFF;
  box-shadow: 0 12px 42px 12px rgba(103,67,223,0.10);
  border-radius: 4px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $media-medium) {
    margin-right: 0;
    margin-left: 0;
  }
}

.prizeImg {
  width: 100%;
}

.prizeDesc {
  font-family: "Open Sans", sans-serif;
  padding: 24px 0;
  margin: 0;
  font-size: 18px;
  color: #3E3D3E;
  letter-spacing: 0;
  line-height: 28px;
}

.prizeCountry {
  position: absolute;
  width: 107px;
  left: 0;
  top: 0;
  transform: translate(-25%, -25%);
}