@import "../../ui/variables";

.container {
  flex-direction: column;
  align-items: center;
}

.section {
  margin-top: 60px;
  padding-bottom: 150px;
}

.sectionHeader {
  font-weight: bold;
  font-size: 44px;
  color: #3E3D3E;
  letter-spacing: -1.6px;
  text-align: center;
  line-height: 48px;
}

.organizersList {
  margin-top: 50px;
}

.organize {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 60px 0;
  padding: 0 40px;

  @media (max-width: $media-medium) {
    flex-direction: column;
  }

  @media (max-width: $media-small) {
    padding: 0;
  }
}

.organizeDesc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3E3D3E;
  letter-spacing: 0;
  line-height: 28px;
  padding-left: 94px;

  @media (max-width: $media-medium) {
    padding: 0;
    margin-top: 24px;
  }
}

.organizeImg {
  min-width: 400px;

  @media (max-width: $media-medium) {
    min-width: auto;
  }
}

.bubble {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.first {
  margin-top: 100px;
}

.last {
  margin-bottom: 200px;
}