@import "../../ui/variables";

.schedule {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 91px;

  @media (max-width: $media-medium) {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}

.month {
  position: absolute;
  top: 101px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 46px;
  color: rgba(#DF298C, .1);
  letter-spacing: -1.67px;
  text-align: center;
  line-height: 48px;

  @media (max-width: $media-medium) {
    display: none;
  }
}