@import "../../../ui/variables";

.sectionWrapper {
    position: relative;
    padding-top: 89px;
    padding-bottom: 81px;
    --left-offset: 1px;
}

.sectionDescription {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: left;
    padding-left: var(--left-offset);
    margin: 22px 0 0;
    font-size: 20px;
    color: #3E3D3E;
    letter-spacing: 0;
    line-height: 28px;
}

.sectionContainer {
    flex-direction: column;
    align-items: center;
}

.containerFluid {
    max-width: 10000px;
    width: 100%;
}