@import "../../../../ui/variables";

.scheduleList {
  list-style: none;

  @media (max-width: $media-small) {
    padding: 0;
  }
}

.scheduleItem {
  display: flex;
  margin: 38px 0;
}

.period {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #DF298C;
  letter-spacing: -0.45px;
  line-height: 28px;
  min-width: 170px;
}

.periodDescription {
  padding-left: 0;
  padding-right: 20px;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

.month {
  position: relative;
  display: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: rgba(#DF298C, .1);
  letter-spacing: -1.02px;
  line-height: 48px;

  @media (max-width: $media-medium) {
    display: block;
  }
}