@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import 'ui/variables';

@font-face {
    font-family: 'Nanum Gothic';
    src: url("assets/fonts/NanumGothic-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url("assets/fonts/NanumGothic-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url("assets/fonts/NanumGothic-ExtraBold.ttf");
    font-weight: 900;
    font-style: normal;
}

:root {
    --media-medium: 1200px;
}

html {
    font-family: 'Nanum Gothic', 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1136px;
    margin: 0 auto;
    display: flex;

    @media (max-width: $media-large) {
        padding: 0 20px;
    }
}

.app {
    overflow: hidden;
}

.blue-button {
    font-family: "Open Sans", sans-serif;
    padding: 12px 55px;
    background: #6735F6;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
}

.anchorIcon {
    width: 31px;
}

.ticketButton {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin: 0 32px;
    padding: 12px 15px;
    border: 2px solid white;
    border-radius: 4px;
    background: transparent;
    font-size: 14px;
    color: currentColor;
    letter-spacing: 0.4px;
    text-align: center;
}

.grayButton {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 12px 72px;
    background: #FFFFFF;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    font-size: 18px;
    color: #3E3D3E;
    text-align: center;
    line-height: 30px;
    border: none;
}

.buyTickets {
    @extend .ticketButton;

    padding: 16px 74px;
    background: #FCDE41;
    border: none;
    font-size: 18px;
    font-weight: 300;
    color: #3E3D3E;
    text-align: center;
}

.mainHeader {
    font-weight: 900;
    padding-top: 5%;
    margin-bottom: 30px;
    font-size: 72px;
    color: #FFFFFF;
    letter-spacing: 0.6px;
    text-align: center;
    line-height: 88px;
    font-family: 'Open Sans', sans-serif;

    @media (max-width: $media-medium) {
        font-size: 48px;
        line-height: 65px;
    }
}

.sectionHeader {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: var(--left-offset);
    width: 100%;
    font-size: 86px;
    color: rgba(#8D26AF, .16);
    letter-spacing: -3.13px;
    text-align: left;

    @media (max-width: $media-medium) {
        font-size: 60px;
    }

    @media (max-width: $media-small) {
        font-size: 38px;
        padding-left: 0;
    }
}

a {
    text-decoration: none;

}