.dnav {
  display: flex;
  align-items: center;
  padding-bottom: 11px;
}

.nav {
  font-weight: bold;
  color: currentColor;
  letter-spacing: 0.2px;
}

.navList {
  display: flex;
  list-style: none;

  a {
    cursor: pointer;
  }
}

.navLink {
  color: currentColor;
  padding: 15px;
  text-decoration: none;
  font-weight: 400;
}

.navLinkActive {

}

.headerButton {
  background: #6735F6;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.20);
  color: #FFFFFF;
}

.button {
  margin: 0 18px 0 10px;
  padding: 7px 14px;
  border-radius: 3px;
  font-weight: 400;
}