.header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    padding: 32px 0;
    color: rgba(255, 255, 255, .8);
    letter-spacing: 0.2px;
    font-size: 14px;
    transition: all .2s ease-in-out;
}

.navActive {
    color: white;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        background: #FFFFFF;
        left: calc(50% - 16px);
        bottom: 0;
    }
}

.headerContainer {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav {
    font-weight: bold;
    color: rgba(255, 255, 255, .8);
    letter-spacing: 0.2px;
}

.navList {
    display: flex;
    list-style: none;
}

.navLink {
    color: currentColor;
    padding: 15px;
    text-decoration: none;
}

.logo {

}

.change {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px 0px;
    padding: 5px 0;
    color: #6735F6;

    .nav {
        color: #6735F6 !important;
    }

    .navActive {
        color: #6735F6;

        &:after {
            background: #6735F6 ;
        }
    }

    .logo {
        img {
            width: 100px;
        }
    }
}