.langSelect {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.langSelect_arrow {
    margin-left: 5px;
}

.langListContainer {
    position: absolute;
    display: none;
    right: -13%;
    top: 100%;
    margin: 10px 0 0;
}

.open {
    display: block;
}

.disabled {
    opacity: .5;
    cursor: default;
}

.langList {
    background-color: white;
    padding: 10px 15px;
    margin: 0;
    border-radius: 3px;
    color: #525558;
    font-size: 12px;
    list-style: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09), 0 15px 26px 0 rgba(47,21,136,0.06), 0 0 11px 0 rgba(47,21,136,0.07);

    li {
        margin: 5px 0;
        line-height: 20px;
    }

    .active {
        font-weight: 600;
        color: #6743DF;
    }
}

.arrow {
    transform: translateY(1px);
    overflow: hidden;
    height: 11px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;

    &:before {
        content: "";
        display: block;
        position: relative;
        border-radius: 2px;
        width: 18px;
        height: 24px;
        background: #fff;
        transform: rotate(45deg);
        top: 5px;
        left: 0;
        box-shadow: 0 2px 9px 0 rgba(62, 57, 255, 0.06);
    }
}