.mobileButton {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
}

.mobileButtonClose {
  position: absolute;
  right: 16px;
  top: 16px;
}

.mobileNavList {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.26), 0 15px 26px 0 rgba(47,21,136,0.06), 0 0 11px 0 rgba(47,21,136,0.07);
  border-radius: 6px;
  will-change: opacity;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 45px 0 25px;
  list-style: none;

  a {
    display: block;
    padding: 12px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #6735F6;
    letter-spacing: 0.21px;
    text-align: center;
    line-height: 30px;
  }
}

.lang {
  width: 100%;
  margin-top: 44px;
  background: rgba(#3E466D, .02);
}

.langListContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  max-width: 365px;
  list-style: none;

  li {
    padding: 10px;
    width: 50%;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: #525558;
    letter-spacing: 0;
    line-height: 24px;
  }

  .active {
    font-weight: bold;
    font-size: 16px;
    color: #6743DF;
    letter-spacing: 0;
    line-height: 24px;
  }
}

.langActive {
  color: #6743DF;
  font-weight: bold;
}

.langList {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 1px 24px;
  border-radius: 3px;
  list-style: none;
  font-size: 16px;
  color: #525558;
  letter-spacing: 0;
  line-height: 24px;
  max-width: 400px;

  li {
    width: 50%;
  }
}